DATABASE_URL="postgresql://postgres:postgres@localhost:5432/fiftyseven"
NOTION_TOKEN="secret_xxx"
NOTION_ROOT_PAGE_ID="33a9db7bb91381668bf8c417504289c4"
SITE_URL="http://localhost:3000"
CONTACT_EMAIL="hello@57consulting.de"
LINKEDIN_URL="https://www.linkedin.com/in/dominikpreiss"
